#img1 {
    background-image:url(../img/img1.jpg);
    background-size:750px 600px;
    background-position: 70% 40%;
}

#img2 {
    background-image:url(../img/img2.jpg);
}

#img3 {
    background-image:url(../img/img3.jpg);
}

#img4 {
    background-image:url(../img/img4.jpg);
}

#img5 {
    background-image:url(../img/img5.png);
}