/* Background Images */
.blason__dev {
  background-image: url(../img/blason.svg);
  background-size: cover; /* This will make sure the image covers the whole viewport */
  background-repeat: no-repeat;
  background-position: center center; /* This centers the image */
}

@media (max-width: 991px) {
  .blason__dev {
    background-image: url(../img/blason-mobile.svg);
  }
}

.digit__digit {
  background-image: url(../img/digit.png);
}

.braid__words {
  background-image: url(../img/braid.png);
}

.transit__app {
  background-image: url(../img/transit.png);
}

.smart__cookie {
  background-image: url(../img/cookie.png);
}
