/* Background Images */
.volunteer__work {
    background-image:url(../img/volunteer.png);
}

.digit__digit {
    background-image: url(../img/digit.png);
}

.braid__words {
    background-image: url(../img/braid.png);
}

.grad__speech {
    background-image: url(../img/grad.png);
}

.smart__cookie {
    background-image: url(../img/cookie.png);
}