:root {
  --primary-color: #ade8f4;
  --bs-primary-rgb: 173, 232, 244;
  --primary-color-highlight: #023e8a;
  --bs-body-bg: #f1faee;
  --bs-body-font-family: "Rubik", sans-serif;
  --bs-border-color: rgb(78, 78, 78);
}

html {
  scroll-behavior: smooth;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
  text-decoration: none;
  opacity: 0.8;
}

.text__highlight {
  color: var(--primary-color-highlight);
}

/* @media (min-width: 544px) {}
@media (min-width: 768px) {}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}
@media (min-width: 1400px) {}
@media (min-width: 1600px) {} */

/* Custom Container */
.container-custom {
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .container-custom {
    width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container-custom {
    width: 1340px;
  }
}

@media (min-width: 1600px) {
  .container-custom {
    width: 1520px;
  }
}

/* Header */
.header {
  z-index: 1;
}

.logo {
  width: 110px;
  height: 80px;
  position: absolute;
  top: 0px;
  left: 20px;
  border-radius: 20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.logo__link:hover {
  color: var(--primary-color);
  text-decoration: none;
  opacity: 1;
}

.pt-10 {
  padding-top: 8rem;
}

/* Flyout Navbar Section */
#navbar {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bs-body-bg);
  background-image: url(../img/svg/left-wave-scene.svg);
  z-index: 21;
}

@media (min-width: 576px) {
  #navbar {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bs-body-bg);
    background-image: url(../img/svg/wave-scene-vertical.svg);
    z-index: 21;
  }
}

.dropdown-nav__closeNavBtn {
  position: absolute;
  top: 20px;
  right: 16px;
  background-color: var(--bs-body-bg);
}

.dropdown-nav__container {
  height: 100svh;
  padding: 0 1rem;
  margin-top: 2.5rem;
}

@media (min-width: 544px) {
  .dropdown-nav__container {
    height: 100svh;
    padding: 0 1rem;
    margin-top: 0rem;
  }
}

/* Blobs */
.z-index-20 {
  z-index: 20;
}

.py-7 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.mobile__blob {
  display: block;
}

@media (min-width: 768px) {
  .mobile__blob {
    display: none;
  }
}

/* Accordion */
.accordion-button:not(.collapsed) {
  color: rgb(34, 37, 31);
  background-color: #ade8f4;
}

/* Footer */
.footer .border-highlight {
  border-top: 1px solid rgb(78, 78, 78);
}

.bg__yellow {
  background: #ffdb57;
}

.footer__sign-up {
  padding-top: 4rem;
  padding-bottom: 4rem;
  z-index: 21;
}

.footer__text {
  color: rgb(78, 78, 78);
}

.footer__text:hover {
  color: rgb(78, 78, 78);
}
