:root {
  --primary-color: #ade8f4;
  --bs-primary-rgb: 173, 232, 244;
  --primary-color-highlight: #023e8a;
  --bs-body-bg: #f1faee;
  --bs-body-font-family: "Rubik", sans-serif;
  --bs-border-color: rgb(78, 78, 78);
}

html {
  scroll-behavior: smooth;
}

/* General link styling */
a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

/* Header */
.header {
  z-index: 2;
  --bs-body-bg: var(--bs-dark);
}

.logo {
  width: 110px;
  height: 80px;
  position: absolute;
  top: 0px;
  left: 20px;
  border-radius: 20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.logo__link:hover {
  opacity: 1;
}

/* Custom Container */
.container-custom {
  width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .container-custom {
    width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container-custom {
    width: 1340px;
  }
}

@media (min-width: 1600px) {
  .container-custom {
    width: 1520px;
  }
}

/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: white;
  width: 110px;
  height: 37px;
  font-size: 16px;
  border: none;
}

/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Flyout Navbar Section */
#navbar {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bs-body-bg);
  background-image: url(../img/svg/left-wave-scene.svg);
  z-index: 4;
}

.dropdown-nav__closeNavBtn {
  position: absolute;
  top: 20px;
  right: 16px;
  background-color: var(--bs-body-bg);
}

.dropdown-nav__container {
  height: 100svh;
  padding: 0 1rem;
  margin-top: 2.5rem;
}

@media (min-width: 544px) {
  #navbar {
    background-image: url(../img/svg/wave-scene-vertical.svg);
  }

  .dropdown-nav__container {
    margin-top: 0rem;
  }
}

/* Hero Section */
.hero {
  position: relative;
  height: 100svh;
  background-color: var(--bs-body-bg);
  overflow: hidden;
}

.hero__heading {
  font-size: 3.2rem;
}

.hero__video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-70%) translateY(-50%);
}

.hero__overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.3;
  z-index: 1;
}

.hero__content {
  z-index: 1;
}

.hero__content-width {
  max-width: 540px;
}

.hero__scroll-btn,
.hero__video-btn {
  position: absolute;
  z-index: 1;
  color: var(--bs-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  opacity: 0.8;
}

.hero__scroll-btn {
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
}

.hero__scroll-btn:hover,
.hero__video-btn:hover {
  opacity: 0.6;
}

.hero__scroll-btn .bi {
  transition-delay: 0.8s;
  animation: bounce 1s infinite alternate;
}

.hero__video-btn {
  right: 30px;
  bottom: 30px;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}

@media (min-width: 544px) {
  .hero__video {
    transform: translateX(-50%) translateY(-50%);
  }
}

/* Waves */
.wave1,
.wave2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave1 svg,
.wave2 svg {
  position: relative;
  display: block;
  width: calc(115% + 1.3px);
  height: 79px;
}

.wave1 .shape-fill {
  fill: #f1faee;
}

.wave2 {
  transform: rotateY(180deg);
}

.wave2 .shape-fill {
  fill: #ade8f4;
}

/* Steps Section */
.steps {
  padding-top: 40px;
  padding-bottom: 40px;
}

.steps__section-thumbnail {
  height: 240px;
  object-fit: cover;
  margin: 0 auto;
}

.steps__content-width {
  max-width: 456px;
  margin: 0 auto;
}

.z-index-20 {
  z-index: 20;
}

@media (min-width: 544px) {
  .steps {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .steps__section-thumbnail {
    height: auto;
  }
}

/* Footer */
.footer .border-highlight {
  border-top: 1px solid rgb(78, 78, 78);
}

.footer__text {
  color: rgb(78, 78, 78);
}

.footer__text:hover {
  color: rgb(78, 78, 78);
}
